@use 'styles/color-variables';
@use 'styles/global-sizes';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: color-variables.$background-level1-color;
  padding: 30px 50px;

  & .content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .linkIcons {
    display: flex;
    gap: global-sizes.$gap-components-size;

    & a .linkIcon {
      transition: 200ms;
    }

    & a:hover .linkIcon {
      opacity: 0.8;
      transition: 200ms;
    }
  }
}