@use 'styles/mixins';

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & div {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 10px;

    
    @include mixins.media-query(md){
      display: flex;
      flex-direction: column;
    }
  }
}
