@use 'styles/color-variables';
@use 'styles/global-sizes';

.cardContainer{
  display: flex;
  justify-content: space-between;

  background-color: color-variables.$background-level1-color;
  padding: global-sizes.$card-padding;
  border-radius: global-sizes.$card-radius;

  height: 130px;
  
  & .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 600;

    & .cardTitle{
      color: color-variables.$text-secondary-color;
    }
  
    & .statNumber{
      color: color-variables.$highlight-color;

      & .mainNumber{
        font-size: global-sizes.$font-h1-size;
      }
    }
  }

  & .icon {
    color: color-variables.$text-secondary-color;
    
    & svg {
      height: 30px;
      width: 30px;
    }
  }
}