@use '../../global-sizes';
@use '../../color-variables';

.input {
  background-color: color-variables.$background-body-color;
  color: color-variables.$text-primary-color;
  border: 1px solid color-variables.$background-level2-color;

  padding: global-sizes.$form-input-padding;
  border-radius: global-sizes.$form-input-radius;

  width: 100%;

  &:focus-visible {
    outline: none;
    border: 1px solid color-variables.$text-secondary-color;
  }

  &::placeholder {
    color: color-variables.$text-tertiary-color;
    font-weight: 600;
  }
}
