@use 'styles/color-variables';
@use 'styles/global-sizes';

.button {
  background-color: color-variables.$icon-dark-button-primary-color;
  border: 1px solid color-variables.$icon-dark-button-primary-border-color;
  color: color-variables.$text-primary-color;
  border-radius: global-sizes.$button-radius;

  min-width: 40px;
  min-height: 40px;
  max-height: 40px;
  max-width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: color-variables.$icon-dark-button-primary-color-hover;
    cursor: pointer;
  }

  &:active {
    background-color: color-variables.$icon-dark-button-primary-color-active;
  }
}
