@use 'styles/global-sizes';
@use 'styles/color-variables';

.button {
  background-color: color-variables.$button-secondary-color;
  border: 1px solid color-variables.$button-secondary-border-color;
  padding: global-sizes.$button-padding;
  border-radius: global-sizes.$button-radius;
  color: color-variables.$button-primary-color;
  width: fit-content;

  &:hover {
    background-color: color-variables.$button-secondary-color-hover;
    cursor: pointer;
  }

  &:active {
    background-color: color-variables.$button-secondary-color-active;
  }
}
