@import 'styles/mixins';

.wrapperContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include media-query(md){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}