@use "styles/global-sizes";

.container {
  display: flex;
  flex-direction: column;
  gap: global-sizes.$gap-items-md-size;

  & .inputWrapper{
    display: flex;
    flex-direction: column;
    gap: global-sizes.$gap-items-md-size;

    & .input {
      display: flex;
      flex-direction: column;
      gap: global-sizes.$gap-items-sm-size;
    }
  }
}