$background-body-color: #121418;
$background-level1-color: #1c1e26;
$background-level2-color: #2e303e;

$highlight-color: #ffaa00;

$text-primary-color: #f5f5fc;
$text-secondary-color: #79849a;
$text-tertiary-color: #3d4351;

$button-primary-color: #f5f5fc;
$button-primary-color-hover: #dadaf1;
$button-primary-color-active: #c2c2d6;

$icon-dark-button-primary-color: #1c1e26;
$icon-dark-button-primary-border-color: #2e303e;
$icon-dark-button-primary-color-hover: #121418;
$icon-dark-button-primary-color-active: #101114;

$tag-status-comprar: #79849a;
$tag-status-n-iniciado: #7949FF;
$tag-status-andamento: #4992FF;
$tag-status-concluido: #49FF71;
$tag-status-desistiu: #FF4949;
$tag-status-color-hover: #101114;
$tag-status-color-active: #121418;
