$sidebar-size: 220px;
$sidebar-border-size: 2px;

$nav-link-radius-size: 6px;

$form-input-padding: 10px;
$form-input-radius: 10px;

$button-padding: 10px 20px;
$button-radius: 1000px;
$button-gap: 10px;

$color-button-padding: 15px;
$color-button-radius: 15px;
$color-button-size: 150px;


$book-cover-radius: 10px;

$font-xsm-size: 0.79rem; // 12.64px
$font-sm-size: 0.889rem; // 14.22px
$font-md-size: 1rem; // 16px
$font-h6-size: 1.125rem; // 18px
$font-h5-size: 1.266rem; // 20.25px
$font-h4-size: 1.424rem; // 22.78px
$font-h3-size: 1.602rem; // 25.63px
$font-h2-size: 1.802rem; // 28.83px
$font-h1-size: 2.027rem; // 32.44px

$tag-status-padding: 5px 20px;
$tag-status-radius: 1000px;

$card-radius: 15px;
$card-padding: 25px;

$snackbar-padding: 20px;
$menu-padding: 15px;
$list-padding: 15px;

$gap-items-sm-size: 10px;
$gap-items-md-size: 15px;
$gap-sections-size: 20px;
$gap-components-size: 30px;

$radius-banner-size: 20px;
$padding-banner-size: 25px;

$radius-item-size: 15px;
$gap-item-size: 15px;
$padding-item-size: 25px;
