@use 'styles/global-sizes';
@use 'styles/color-variables';

.container {
  height: 100vh;
  width: global-sizes.$sidebar-size;

  border-right: 2px solid color-variables.$background-level2-color;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  position:fixed;
}

.navLinkWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
