@use 'styles/global-sizes';

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: min-content;

  &:hover{
    cursor: pointer;
  }

  & .bookCoverImage{
    height: 190px;

    & .coverImage {
      height: 100%;
      border-radius: global-sizes.$book-cover-radius;
    }
  }

  & .bookCoverInfo{
    & .authorName, & .bookTitle {
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    & .bookTitle {
      white-space: nowrap;
      text-wrap: wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      line-height: 1.5em;
      max-height: 3em;
    }
    
  }
}