@use 'styles/global-sizes';

.container {
  display: flex;
  flex-direction: column;
  gap: global-sizes.$gap-items-size;

  & .listContent{
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: 1fr; 
    gap: global-sizes.$gap-components-size;
    overflow: hidden; 
  }
}