@use 'styles/global-sizes';
@use 'styles/mixins';

.container{
  display: flex;
  gap: global-sizes.$gap-items-sm-size;
  flex-direction: column;
  width: 100%;

  @include mixins.media-query(lg){
    display: flex;
    justify-content: center;
    align-items: center;
  }


  & .input{
    width: 200px !important;

  }
}