@use 'styles/global-sizes';
@import 'styles/mixins';


.form {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: global-sizes.$gap-items-md-size;

  @include media-query(md) {
    display: flex;
    flex-direction: column;
    row-gap: global-sizes.$gap-items-md-size;
  }
}