@use 'styles/global-sizes';

.container{
  margin-left: global-sizes.$sidebar-size;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .content{
    display: flex;
    flex-direction: column;
    gap: global-sizes.$gap-components-size;
    padding: 30px 50px;
  }
}