@use 'styles/global-sizes';

.container {
  display: flex;
  flex-direction: column;
  gap: global-sizes.$gap-items-md-size;

  & .listContent{
    display: flex;
    justify-content: flex-start;
    gap: global-sizes.$gap-components-size;
    overflow: hidden;
    
    &.flexWrap {
      flex-wrap: wrap;
    }
  }

  
}