@use 'styles/global-sizes';
@use 'styles/color-variables';


.container{
  display: flex;
  flex-direction: column;
  gap: global-sizes.$gap-items-md-size;
  width: 250px;
  
  .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: global-sizes.$gap-items-sm-size;

    .data{
      display: flex;
      flex-direction: column;
    }
  }

  .options{
    display: flex;
    flex-direction: column;

    .optionItem {
      width: 100%;
    }
  }
}