@use 'styles/global-sizes';

.wrapperContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: global-sizes.$gap-items-md-size;

  height: 100%;
}

@media (max-width: 576px) {
  .wrapperContainer{
    display: flex;
    flex-direction: column;
  }
}