@use '../../color-variables';
@use '../../global-sizes';

.button {
  padding: global-sizes.$tag-status-padding;
  border: 1px solid;
  border-radius: global-sizes.$tag-status-radius;
  background-color: color-variables.$background-body-color;
  width: fit-content;

  &:hover{
    cursor: pointer;
    background-color: color-variables.$tag-status-color-hover;
  }

  &:active{
    background-color: color-variables.$tag-status-color-active;
  }

  &.comprar {
    color: color-variables.$tag-status-comprar;
  }
  &.nIniciado {
    color: color-variables.$tag-status-n-iniciado;
  }
  &.andamento {
    color: color-variables.$tag-status-andamento;
  }
  &.concluido {
    color: color-variables.$tag-status-concluido;
  }
  &.desistiu {
    color: color-variables.$tag-status-desistiu;
  }
}