@use '../../global-sizes';
@use '../../color-variables';

.button {
  border: 0;
  background-color: color-variables.$text-primary-color;
  padding: global-sizes.$button-padding;
  border-radius: global-sizes.$button-radius;

  &:hover {
    background-color: color-variables.$button-primary-color-hover;
    cursor: pointer;
  }

  &:active {
    background-color: color-variables.$button-primary-color-active;
  }
}
