@use 'styles/global-sizes';
@use 'styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: global-sizes.$gap-items-md-size;

  & .formContainer{
    display: flex;
    flex-direction: column;
    gap: global-sizes.$gap-items-md-size;
    
    & .bookStatusWrapper{
      display: flex;
      flex-wrap: wrap;
      width: 400px;
      gap: global-sizes.$gap-items-sm-size;

      @include mixins.media-query(lg){
        width: 100%;
      }
    }
  }
}



