.container{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.itemForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookStatusWrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}