@use 'styles/global-sizes';
@use 'styles/color-variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px 50px 100px;
  width: 100%;
  gap: global-sizes.$gap-sections-size;
  text-align: center;

  & .resourcesWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: flex-start;
    gap: global-sizes.$gap-items-md-size;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    padding: 50px;

    & .resourcesWrapper{
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 30px; 
    & .resourcesWrapper{
      display: flex;
      flex-direction: column;
      gap: global-sizes.$gap-components-size;
    }
  }
}