@use 'styles/global-sizes';
@use 'styles/color-variables';

.toggleButtons {
  display: flex;
  gap: global-sizes.$gap-items-sm-size;
  background-color: color-variables.$background-level1-color;
  border-radius: 1000px;

  & button {
    border: 0;
    border: 1px solid color-variables.$text-tertiary-color;
    background-color: transparent;
    border-radius: 100%;
    color: color-variables.$text-primary-color;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: 35px;

    &:hover{
      background-color: color-variables.$background-level2-color;
      cursor: pointer;
    }

    &.active{
      background-color: color-variables.$text-primary-color;
      color: color-variables.$background-body-color;
    }
  }
}