.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputWrapperGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
