@use 'styles/global-sizes';
@use 'styles/color-variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px 50px 100px;
  width: 100%;
  gap: global-sizes.$gap-sections-size;
  text-align: center;
}